//====================================================================================================

.page {
	position: relative;

	&__background-ball-wrapper {
		position: fixed;
		width: 100%;
		z-index: 5;
		pointer-events: none;
	}

	&__background-ball {
		width: rem(840);
		height: rem(628);
		border-radius: 50%;

		opacity: 0.7;
		background-color: rgba(24, 75, 255, 0.4);
		filter: blur(100px);
		animation: floating-ball 6s ease-in-out infinite alternate;

		&--reverse {
			animation: floating-ball 6s ease-in-out infinite alternate-reverse;
		}

		@media (max-width: $mobile) {
			width: rem(616);
			height: rem(460);
		}

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: 50%;
			background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #f71348 100%);
			filter: blur(100px);
		}
	}
}

@keyframes floating-ball {
	from {
		transform: translateX(calc(var(--window-height) * -0.3)) rotate(0);
	}

	to {
		transform: translateX(calc(var(--window-height) * 0.8)) rotate(360deg);
	}
}

@media (max-width: $mobile) {
	@keyframes floating-ball {
		from {
			transform: translateX(calc(var(--window-height) * -0.6)) rotate(0);
		}

		to {
			transform: translateX(calc(var(--window-height) * 1.2)) rotate(360deg);
		}
	}
}

@media (max-width: $mobileSmall) {
	@keyframes floating-ball {
		from {
			transform: translateX(calc(var(--window-height) * -1.6)) rotate(0);
		}

		to {
			transform: translateX(calc(var(--window-height) * 1.6)) rotate(360deg);
		}
	}
}

.main-block {
	@include adaptiveValue('padding-top', 98, 88, 0, $maxWidthContainer, 375);
	@include adaptiveValue('padding-bottom', 72, 88, 0, $maxWidthContainer, 375);

	&__container {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 6, 48, 0, $maxWidthContainer, 375);
		}
	}

	&__text-wrapper {
	}

	&__title {
		font-family: Syne, sans-serif;
		@include adaptiveValue('font-size', 60, 40, 0, $maxWidthContainer, 375);
		font-weight: 700;
		text-align: center;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 26, 24, 0, $maxWidthContainer, 375);
		}

		max-width: rem(1120);
		margin: 0 auto;
	}

	&__text {
		color: cl('grey');
		text-align: center;
		@include adaptiveValue('font-size', 25, 20, 0, $maxWidthContainer, 375);

		max-width: rem(580);
		margin: 0 auto;
	}

	&__slider {
		position: relative;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 0, 24, 0, 768, 375);
		}
	}

	&__slider-pattern {
		position: absolute;
		height: 20%;
		z-index: 1;
		width: 100%;
		min-width: rem(1198);

		img {
			object-fit: cover;
		}

		&--down {
			top: 0;
		}

		&--up {
			bottom: 0;
		}
	}

	&__slider-wrapper {
	}

	&__slide {
	}

	&__slide-ibg {
		width: 100%;
		padding-bottom: 220%;

		transform: scale(0.99);
	}

	&__scroll-down {
		position: relative;
		z-index: 2;

		display: flex;
		justify-content: center;
		align-items: center;

		margin: 0 auto;
		@include adaptiveValue('margin-top', -40, 0, 0, $maxWidthContainer, 375);

		@include adaptiveValue('width', 176, 111, 0, $maxWidthContainer, 375);
		@include adaptiveValue('height', 176, 111, 0, $maxWidthContainer, 375);

		img {
			max-width: 100%;
		}

		transition: all 0.9s ease;
		&:hover {
			transform: rotate(360deg);
		}
	}
}

.video-section {
	position: relative;

	&__background-ibg {
		width: 100%;
		@media (min-width: $mobile) {
			aspect-ratio: 16 / 8;
		}
		@media (max-width: $mobile) {
			aspect-ratio: 9 / 16;
		}

		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			inset: 0;
			background: rgba(0, 0, 0, 0.65);
		}
	}

	&__play {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@include adaptiveValue('width', 140, 79, 0, $maxWidthContainer, 375);
		@include adaptiveValue('height', 140, 79, 0, $maxWidthContainer, 375);

		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		transition: all 0.3s ease;
		&:hover {
			transform: translate(-50%, -50%) scale(1.2);
		}

		svg {
			fill: cl('white');
		}
	}
}

.we-do {
	@include adaptiveValue('padding-top', 148, 122, 0, $maxWidthContainer, 375);

	&__container {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 160, -64, 0, $maxWidthContainer, 375);
		}
	}

	&__body {
	}

	&__top {
		@media (min-width: $mobile) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 160, 120, 0, $maxWidthContainer, 375);
		}
	}

	&__text-wrapper {
	}

	&__title {
		span {
			background-color: cl('white');
			color: cl('background');
		}

		&:not(:last-child) {
			@media (max-width: $mobile) {
				margin-bottom: rem(64);
			}
		}
	}

	&__text {
		@include adaptiveValue('font-size', 25, 20, 0, $maxWidthContainer, 375);

		&:not(:last-child) {
			margin-bottom: rem(32);
		}
	}

	&__sub-title {
		text-align: center;
		font-family: Syne, sans-serif;
		@include adaptiveValue('font-size', 35, 24, 0, $maxWidthContainer, 375);
		font-weight: 700;
		letter-spacing: 7px;
		text-transform: uppercase;

		@media (min-width: $pc) {
			margin: 0 rem(-120);
		}
	}

	&__map-container {
		@media (max-width: rem(1900)) {
			overflow: auto;
		}

		&::-webkit-scrollbar {
			width: rem(8);
		}

		&::-webkit-scrollbar-track {
			background: cl('background');
		}

		&::-webkit-scrollbar-thumb {
			background-color: transparent;
		}
	}

	&__map {
		position: relative;

		width: rem(1920);
		height: rem(1080);

		@include adaptiveValue('margin-left', 0, -328, 0, $maxWidthContainer, 375);
		@include adaptiveValue('margin-right', 0, -328, 0, $maxWidthContainer, 375);

		@media (max-width: $mobile) {
			transform: scale(0.7);
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
	}

	&__map-circle {
		position: absolute;
		top: 0;
		left: 0;

		background: radial-gradient(50.11% 50.11% at 50% 49.92%, #fff 0%, #ffdaa2 7%, #ff0e00 32%, #000 79%);
		background-blend-mode: screen;
		mix-blend-mode: screen;
		animation: circle-pulse 1.6s ease infinite;

		&--01 {
			top: 13%;
			left: 10%;
		}

		&--02 {
			top: 14%;
			left: 16%;
		}

		&--03 {
			top: 24%;
			left: 17%;
		}

		&--04 {
			top: 20%;
			left: 20%;
		}

		&--05 {
			top: 47%;
			left: 26%;
		}

		&--06 {
			top: 52%;
			left: 31%;
		}

		&--07 {
			top: 54%;
			left: 28%;
		}

		&--08 {
			top: 62%;
			left: 28%;
		}

		&--09 {
			top: 3%;
			left: 35%;
		}

		&--10 {
			top: 33%;
			left: 44%;
		}

		&--11 {
			top: 41%;
			left: 47%;
		}

		&--12 {
			top: 49%;
			left: 49%;
		}

		&--13 {
			top: 46%;
			left: 51%;
		}

		&--14 {
			top: 56%;
			left: 50%;
		}

		&--15 {
			top: 19%;
			left: 51%;
		}

		&--16 {
			top: 17%;
			left: 53%;
		}

		&--17 {
			top: 20%;
			left: 57%;
		}

		&--18 {
			top: 38%;
			left: 51%;
		}

		&--19 {
			top: 25%;
			left: 63%;
		}

		&--20 {
			top: 34%;
			left: 64%;
		}

		&--21 {
			top: 22%;
			left: 68%;
		}

		&--22 {
			top: 37%;
			left: 69%;
		}

		&--23 {
			top: 58%;
			left: 76%;
		}

		&--24 {
			top: 57%;
			left: 78%;
		}

		&--25 {
			top: 60%;
			left: 80%;
		}

		&--26 {
			top: 34%;
			left: 72%;
		}

		&--27 {
			top: 30%;
			left: 73%;
		}

		&--28 {
			top: 26%;
			left: 76%;
		}

		&--29 {
			top: 22%;
			left: 77%;
		}

		&--30 {
			top: 14%;
			left: 73%;
		}

		&--31 {
			top: 12%;
			left: 68%;
		}

		&--32 {
			top: 5%;
			left: 70%;
		}

		&--33 {
			top: 11%;
			left: 84%;
		}
	}
}

@keyframes circle-pulse {
	from {
		transform: scale(0.6);
	}

	50% {
		transform: scale(1);
	}

	to {
		transform: scale(0.6);
	}
}

.craft {
	@include adaptiveValue('margin-top', -32, -164, 0, $maxWidthContainer, 375);
	padding-bottom: rem(124);

	&__container {
	}

	&__body {
	}

	&__title {
		max-width: rem(720);
		margin: 0 auto;
		text-align: center;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 100, 80, 0, $maxWidthContainer, 375);
		}

		span {
			background-color: cl('white');
			color: cl('background');
		}
	}

	&__cards {
		@media (min-width: $pc) {
			padding: 0 rem(68);
		}

		@media (min-width: $mobileSmall) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			@include adaptiveValue('gap', 120, 60, 0, $maxWidthContainer, 1024);
		}
	}

	&__cards-left {
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				@include adaptiveValue('margin-bottom', 60, 40, 0, $maxWidthContainer, 375);
			}
		}
	}

	&__card {
		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 60, 40, 0, $maxWidthContainer, 375);
		}
	}

	&__cards-right {
		@media (min-width: $mobileSmall) {
			padding-top: rem(90);

			display: flex;
			flex-direction: column;
		}
	}

	&__cards-more-wrapper {
		flex: 1 1 auto;

		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		@media (min-width: $mobileSmall) {
			margin-top: rem(-90);
		}

		@media (max-width: $mobileSmall) {
			margin-top: rem(48);
		}
	}

	&__cards-more-button {
		display: inline-flex;
		justify-content: center;
		gap: rem(6);
		flex-direction: column;
		align-items: flex-start;

		margin: 0 auto;

		@include adaptiveValue('width', 240, 132, 0, $maxWidthContainer, 375);
		@include adaptiveValue('height', 240, 132, 0, $maxWidthContainer, 375);
		background: url('@img/icons/circle-background.svg') center no-repeat;
		background-size: cover;

		&:hover {
			svg {
				transform: translateX(rem(60));
			}
		}
	}

	&__cards-more-button-inner {
		margin: 0 auto;

		svg {
			width: rem(22);
			height: rem(22);
			transition: all 0.6s ease;
		}
	}

	&__cards-more-text {
		color: cl('background');
		@include adaptiveValue('font-size', 18, 16, 0, $maxWidthContainer, 375);
		font-weight: 700;
	}
}

.card-craft {
	position: relative;

	&:hover {
		.card-craft__view {
			opacity: 1;
			visibility: visible;
		}
	}

	&__image-ibg {
		width: 100%;
		padding-bottom: 140%;
		overflow: hidden;

		@media (max-width: $mobileSmall) {
			padding-bottom: 100%;
		}

		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}

	&__text-wrapper {
	}

	&__title {
		font-family: Syne, sans-serif;
		@include adaptiveValue('font-size', 30, 24, 0, $maxWidthContainer, 375);
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: rem(2);
		}
	}

	&__text {
		@include adaptiveValue('font-size', 18, 16, 0, $maxWidthContainer, 375);
	}

	&__view {
		position: absolute;
		z-index: 3;

		@include adaptiveValue('top', -56, -40, 0, $maxWidthContainer, 375);
		right: 4%;

		@media (any-hover: hover) {
			top: 20%;
			@include adaptiveValue('right', -56, -40, 0, $maxWidthContainer, 375);

			opacity: 0;
			visibility: hidden;
		}
		transition: all 0.3s ease;

		@include adaptiveValue('width', 112, 80, 0, $maxWidthContainer, 375);
		@include adaptiveValue('height', 112, 80, 0, $maxWidthContainer, 375);

		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		svg {
			max-width: 100%;
		}

		transition: all 0.3s ease;
		&:hover {
			transform: scale(1.2);
		}
	}
}

.service {
	@include adaptiveValue('padding-bottom', 460, 120, 0, $maxWidthContainer, 375);

	&__container {
	}

	&__body {
	}

	&__title {
		max-width: rem(820);
		text-align: center;
		margin: 0 auto;

		span {
			background-color: cl('white');
			color: cl('background');
		}

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 90, 64, 0, $maxWidthContainer, 375);
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue('gap', 28, 16, 0, $maxWidthContainer, 375);

		overflow: auto;
	}

	&__item {
		min-width: rem(258);
	}
}

.item-service {
	width: 100%;

	&:hover {
		.item-service__image-ibg {
			.hidden {
				display: none;
			}

			.shown {
				display: block;
			}
		}
	}

	&__title {
		font-family: Syne, sans-serif;
		@include adaptiveValue('font-size', 30, 24, 0, $maxWidthContainer, 375);
		font-weight: 500;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 30, 24, 0, $maxWidthContainer, 375);
		}
	}

	&__image-ibg {
		width: 100%;
		padding-bottom: 100%;

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 38, 24, 0, $maxWidthContainer, 375);
		}

		.shown {
			display: none;
		}

		.hidden {
			object-fit: fill;
		}
	}

	&__text {
		@include adaptiveValue('font-size', 20, 16, 0, $maxWidthContainer, 375);

		&:not(:last-child) {
			@include adaptiveValue('margin-bottom', 32, 24, 0, $maxWidthContainer, 375);
		}
	}

	&__link {
		@include adaptiveValue('width', 56, 48, 0, $maxWidthContainer, 375);
		@include adaptiveValue('height', 56, 48, 0, $maxWidthContainer, 375);
		background: url('@img/icons/circle-border.svg') no-repeat;
		background-size: cover;

		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		&:hover {
			background: url('@img/icons/circle-background.svg') no-repeat;
			background-size: cover;

			svg {
				fill: cl('background');
			}
		}

		svg {
			@include adaptiveValue('width', 24, 18, 0, $maxWidthContainer, 375);
			@include adaptiveValue('height', 24, 18, 0, $maxWidthContainer, 375);
			fill: cl('white');
		}
	}
}

._data-content {
	position: relative;
	z-index: 5;
}

//====================================================================================================
